<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Reference Master</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Cinzel|Old+Standard+TT" rel="stylesheet"> 
         <link rel = "stylesheet"  type = "text/css"   href = "main.css" />
    </head>
        <body>
      <header>
    <h1>Reference Master</h1>
  </header>
             <ul>
                 <li><a href="index2.html">Home</a></li>              
                 <li><a href="bookref.html">New reference</a></li>
                 <li> <a href="list.html">References</a> </li>

</ul> 
            <div class='textbody'><p>Add a new reference by using the form below.</p></div>
            <div>
            <form>
                <p>Select the reference type:</p>
             <select name="ReferenceType">
            <option value="book">Book</option>
            <option value="article">Article</option>
            <option value="booklet">Booklet</option>
            <option value="conference">Conference</option>
            <option value="mastersthesos">Master's thesis</option>
            <option value="unpublisher">Unpublished</option>
            <option value="techreport">Tech Report</option>
            <option value="proceedings">Proceedings</option>
            <option value="phdthesis">PHD Thesis</option>
            <option value="Manual">Manual</option>
            <option value="misc">Misc.</option>
</select>
                <br>
                  Title:<br>
                <input type="text" name="title">
                <br>
                Subtitle:<br>
                <input type="text" name="subtitle">
                <br>
                Author:<br>
                <input type="text" name="author">
                <br>
                Year:<br>
                <input type="text" name="year">
                <br>
                Publisher:<br>
                <input type="text" name="publisher">
                <br>
                <input type="submit" value="Submit">
            </form>
                </div>
            
    </body>
   
</html>

