<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>'
        <title>Index</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/css/main.css}" />
        
    </head>

    <body>
                 <ul>
                 <li><a href="/">Viitteeni</a></li>              
                 <li><a href="/references/ref_new">Uusi viite</a></li>
                 <li> <a href="/references/download">Lataa BibTex</a> </li>

                </ul> 
       
        <h1>Lähdeviitteet</h1>
        <div>

        <ul class="allReferences">
            <li th:each="ref : ${allRefs}">
                <h3>
                    <span th:text="${ref.entryKey}" />
                    (<span class="ref-type" th:text="${ref.entryType}" />)
                </h3>
                <ul th:each="field : ${ref.fields().entrySet()}">
                    <li th:text="${field.getKey()} + ': ' + ${field.getValue()}"></li>
                </ul>
                <form th:action="@{/references/{id}/remove(id=${ref.id})}" method="POST">
                    <input type="submit" value="Poista"/>            
                </form>
                <form th:action="@{/references/edit/{id}(id=${ref.id})}" method="GET">
                    <input type="submit" value="Muokkaa"/>            
                </form>
            </li>
        </ul>
        </div>


    </body>

</html>
