<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index</title>
    </head>

    <body>
        <h1>Kirjaviitteet</h1>

        <ul class="allReferences">
            <li th:each="ref : ${allRefs}">
                <h3>
                    <span th:text="${ref.entryKey}" />
                    (<span class="ref-type" th:text="${ref.entryType}" />)
                </h3>
                <ul th:each="field : ${ref.fields().entrySet()}">
                    <li th:text="${field.getKey()} + ': ' + ${field.getValue()}"></li>
                </ul>

            </li>
        </ul>

        <a href="/references/book_new">Lisää uusi kirjaviite</a>

    </body>

</html>
