<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lisäys</title>
    </head>

    <body>
        <h2>Lisää uuden kirjaviitteen tiedot</h2>
        <form th:action="@{/references/book_new}" method="POST">
            
            <div class="form-group">
                <label>Nimi</label>
                <input type="text" class="form-control" id="title" name="title"></input>
            </div>

            <div class="form-group">
                <label>Kirjoittaja</label>
                <input type="text" class="form-control" id="author" name="author"></input>
            </div>

            <div class="form-group">
                <label>Julkaisija</label>
                <input type="text" class="form-control" id="publisher" name="publisher"></input>
            </div>

            <div class="form-group">
                <label>Julkaisuvuosi</label>
                <input type="text" class="form-control" id="year" name="year"></input>
            </div>

            <div class="form-group">
                <label>Julkaisijan osoite</label>
                <input type="text" class="form-control" id="address" name="address"></input>
            </div>

            <div class="form-group">
                <label>Painos</label>
                <input type="text" class="form-control" id="edition" name="edition"></input>
            </div>
            
            <button type="submit">Lisää</button>                 
        </form>
    </body>
</html>