<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Bibtex-lataus</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    </head>

    <body>
     
       
          <ul>
                 <li><a href="/">Viitteeni</a></li>              
                 <li><a href="/references/ref_new">Uusi viite</a></li>
                 <li> <a href="/references/download">Lataa BibTex</a> </li>

              </ul> 
        <div>
        <h2>Lataa viitteet Bibtex-muodossa</h2>
        <form th:action="@{/references/download}" method="POST">
            <div class="form-group">
                <label>Tiedostonimi</label>
                <input type="text" class="form-control" id="filename" name="filename"></input>
            </div>
            <button type="submit">Lataa</button>   
        </form>
        </div>
       

    </body>

</html>