<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/main.css}" />
        <title>Index</title>
    </head>

    <body>
       
          <ul>
                 <li><a href="/">Viitteeni</a></li>              
                 <li><a href="/references/ref_new">Uusi viite</a></li>
                 <li> <a href="/references/download">Lataa BibTex</a> </li>

            </ul> 
            <h1>Lähdeviitteet</h1>
        <h3>
            <span th:text="${ref.entryKey}" />
            (<span class="ref-type" th:text="${ref.entryType}" />)
        </h3>

        <form th:action="@{/references/{id}/edit(id=${ref.id})}" method="POST">
            <ul th:each="field : ${ref.fields().entrySet()}">
                <label th:text="${field.getKey()}"></label>
                <input class="form-control" th:id="${field.getKey()}" th:name="${field.getKey()}" th:value="${field.getValue()}" />
            </ul>

            <input type="submit" value="Muokkaa"/>            
        </form>
        
        <a href="/">Takaisin</a>
    </body>

</html>